.post_detail {
  margin-bottom: 2em;
  max-width: 300px;
}

.post_detail img {
  max-width: 300px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #00000065;
}

.post_detail h2 {
  margin-bottom: .4em;
}

.post_details .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: .5em;
}

.tags span {
  font-weight: bold;
}

.createdby {
  font-style: italic;
  color: #444;
  font-size: 0.8em;
  margin-bottom: 1em;
}

@media (min-width: 990px) {
  .post_detail img {
    max-width: 800px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #00000065;
  }

  .post_detail {
    max-width: 800px;
  }
  
}